/* reset css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: lightgray;
}

/*Adding aesthetic style to inner divs w class box */
.box {
    flex-grow: 1;
    flex-shrink: 1;
    height: 15px;
    width: 15px;
    background-color: lightgray;
    border: 1px solid darkgray;
}

/* Making inner div containers flex to style the box divs in each inner container horizontally */
.inner {
    display: flex;
}

/*Aesthetic style stored in class active to be added to boxes that are clicked*/
.active {
    background-color: rgb(45, 69, 200);
}

/* Define size of grid container*/
.gridContainer {
    height: 500px;
    width: 500px;
    border: 10px solid lime;
}

/*Display grid in center*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Styling position of the buttons below grid*/
.button-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

/*Style button aesthetic*/
button {
    padding: 8px;
    background-color: orange;
    color: white;
}

h1 {
    text-align: center;
    padding: 8px;
    color: darkgreen;
}
