/* reset css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: lightgray;
}

/*Adding aesthetic style to inner divs w class box */
.box {
    height: 25px;
    width: 25px;
    background-color: pink;
    border: 1px solid brown;
}

/* Making inner div containers flex to style the box divs in each inner container horizontally */
.inner {
    display: flex;
}

/*Aesthetic style stored in class active to be added to boxes that are clicked*/
.active {
    background-color: aqua;
    border: 1px solid blue;
}

/*Display grid in center*/
.container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

/*Styling position of the buttons below grid*/
.button-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

/*Style button aesthetic*/
button {
    padding: 8px;
    background-color: orange;
    color: white;
}

h1 {
    text-align: center;
    padding: 8px;
    color: darkgreen;
}